PROJECT_ROOT='/workspace/terraform-beginner-bootcamp-2023'
AWS_ACCESS_KEY_ID='AKIAIOSFODNN7EXAMPLE'
AWS_SECRET_ACCESS_KEY='wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY'
AWS_DEFAULT_REGION='us-east-1'
TERRAFORM_CLOUD_TOKEN='oFMLVzUtnyWkTA.atlasv1.TqN0chn6Fmvy1TzcVe6p32c6vmnZdjI4Zv6FHXD7v4xCASvHf9lMz3TFlCRv2lZWba8'
